body {
    font-family: Arial,sans-serif;
    text-align: center;
    background-color :cornflowerblue;
    margin: 0;
    padding: 0;
}

header{
    background-image: url(parkingfooto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 25vh;
    padding: 50px 20px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    flex-direction: column;
    flex-wrap: wrap;
}

.textos-header h1{
    margin:0 ;
    font-size: 100px;
    font-family: 'Franklin Gothic Heavy', 'Arial Black', 'Impact', sans-serif;
    font-weight: 900;
    color:darkblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}
.textos-header p {
    margin: 15px 0 0 0 ;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Satisfy', cursive;
    color:whitesmoke;

}
.introduccion-parkings {
    max-width: 800px;
    margin:40px auto;
    text-align: center;
    padding: 0 20px;
}
.introduccion-parkings h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333; 
}
.lista-parkings {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    gap: 30px; 
    max-width: 1000px; 
    margin: 50px auto; 
    padding: 0 20px;
}

.parking-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center; 
    flex-direction: column;
    flex-wrap: nowrap; 
}
.parking-card:nth-child(even) { 
    flex-direction: row-reverse; /* Invierte el orden: Imagen a la derecha */
}

.card-imagen {
    flex: 0 0 35%; /* Ocupa el 35% del ancho */
    max-height: 250px; 
    overflow: hidden;
    border-radius: 8px;
}
.card-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: box;
}
.card-contenido {
    flex: 1; 
    padding: 20px 30px;
}

.card-contenido img {
    /* Limita la altura de CUALQUIER imagen que esté en el bloque de texto */
    max-height: 80px; 
    width: auto;
    /* Los convierte a elementos en línea para que no rompan el texto */
    display: inline-block; 
    vertical-align: middle;
    margin-right: 10px;
}

.boton-parking {
    display: inline-block;
    background-color: aquamarine;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 15px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.boton-parking:hover {
    background-color: #689F38; /* Efecto hover */
}

